@import "tailwindcss";
@import "tw-animate-css";

@layer components {
  .category-card-div {
    @apply flex flex-col justify-center items-center;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --screen-min: 320px;
  --screen-max: 1440px;
  --fluid-ratio: calc(
    (100vw - var(--screen-min)) / (var(--screen-max) - var(--screen-min))
  );
  --size-xs: clamp(
    0.375rem,
    calc(0.375rem + (0.625rem - 0.375rem) * var(--fluid-ratio)),
    0.625rem
  );
  --size-sm: clamp(
    0.625rem,
    calc(0.625rem + (0.875rem - 0.625rem) * var(--fluid-ratio)),
    0.875rem
  );
  --size-md: clamp(
    0.875rem,
    calc(0.875rem + (1.125rem - 0.875rem) * var(--fluid-ratio)),
    1.125rem
  );
  --size-lg: clamp(
    1.125rem,
    calc(1.125rem + (1.375rem - 1.125rem) * var(--fluid-ratio)),
    1.375rem
  );
  --size-xl: clamp(
    1.375rem,
    calc(1.375rem + (1.625rem - 1.375rem) * var(--fluid-ratio)),
    1.625rem
  );
  --size-xxl: clamp(
    1.625rem,
    calc(1.625rem + (1.875rem - 1.625rem) * var(--fluid-ratio)),
    1.875rem
  );
  --size-xxxl: clamp(
    3rem,
    calc(3rem + (4.5rem - 3rem) * var(--fluid-ratio)),
    4.5rem
  );
  --dark: #030405;
  --light: #fafafa;
  --blue: #284264;
  --blue-transparent: #1c232c0f;
  --cadetblue: #8eb2b3;

  background-color: var(--dark);
  color: var(--light) !important;
}

.dark {
  --light: #030405;
  --dark: #fafafa;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title-container {
  width: 100%;
  margin: 30 0;
  padding: 10 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--red) !important;
  font-size: 25;
  font-weight: 700;
  text-align: center;
  background-color: var(--transparent-red);
  border-radius: 5px;
  border-bottom: 1px double var(--blue);
  border-top: 1px double var(--blue);
  box-shadow: 0 10px 10px var(--transparent-red),
    0 -10px 10px var(--transparent-red);
}

.gate {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  padding: 1vh 1vw;
  border-top: 3px solid var(--red);
  border-bottom: 4px solid var(--red);

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & h1 {
    font-size: min(11vw, 70px);
    color: whitesmoke;
    font-weight: 700;
    filter: drop-shadow(0 0 100px var(--blue)) drop-shadow(0 0 100px var(--red));
    text-align: center;
  }

  & p {
    color: whitesmoke;
    overflow: hidden;
    font-weight: 600;
    font-size: min(3vw, 25px);
    text-align: center;
    filter: drop-shadow(0 10px 8px var(--blue))
      drop-shadow(0 10px 30px var(--green));
  }
}

@media (orientation: landscape) {
  .gate-height {
    height: 500px;
  }
}

@media (orientation: portrait) {
}

.categories-image {
  background-image: url("/categories-image.svg");
  background-size: 70px;
}

@media (max-width: 310px) {
  .categories-image {
    display: none;
  }
}

.category-hover {
  &:hover {
    box-shadow: 0 0 10px 1px var(--border-text-category);
  }
}

.pagination {
  width: 100%;
  background-color: var(--transparent-blue); /* זמני*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr max-content; /* גובה הכפתורים*/
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
}

.pagination-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.pagination-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.pagination-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination-card-content {
  color: var(--border-text-category);
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  /* border: 1px solid black; */
  /* white-space: nowrap; */
}

.content-description {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;

  & div {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }

  & h1 {
    font-size: larger;
    font-weight: bolder;
  }

  & h2 {
    font-size: large;
  }

  & h3 {
    font-size: medium;
  }
}

.content-meta-data {
  /* background-color: rgb(28, 43, 40); */
  display: grid;
  flex-direction: row;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  scale: 70%;

  & div {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
  }
}

.pagination-card-divider {
  width: 100%;
  height: 0.5px;
  background-color: var(--blue);
  border-radius: 30%;
  /* margin: 0.5em; */
}

@media (orientation: landscape) {
  .gate-height {
    height: 500px;
  }
}

@media (orientation: portrait) {
}

@media (min-width: 300px) and (max-width: 700px) {
  .pagination-card-content {
    color: var(--border-text-category);
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    /* border: 1px solid black; */
    /* white-space: nowrap; */
  }

  .content-description {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    padding-right: 5px;
    padding: 1.5vh 1vw;

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      text-align: center;
    }

    & h1 {
      font-size: larger;
      font-weight: bolder;
    }

    & h2 {
      font-size: large;
    }

    & h3 {
      font-size: medium;
    }
  }

  .content-meta-data {
    /* background-color: rgb(28, 43, 40); */
    display: flex;
    justify-content: space-around;
    width: 100%;
    scale: 70%;

    & div {
      height: min-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: large;
      border-left: 1px solid var(--red);
      border-right: 1px solid var(--red);
      border-radius: 25px;
      width: min-content;
      height: min-content;
    }
  }
}

.a {
  /* height: min-content; */
  /* width: max-content; */
  background-color: #026344;
  & * {
    /* margin-left: 10px !important; */
  }
}
