@import "tailwindcss";
@import "tw-animate-css";

* {
  box-sizing: border-box;
}

:root {
  --blue: #0e2c5a;
  --transparent-blue: #0e2c5a11;
  --green: #026344;
  --transparent-green: #02634411;
  --red: #d80808;
  --transparent-red: #85646429;
  background-color: var(--transparent-blue);
}

.blue {
  color: var(--blue);
}

.title-container {
  width: 100%;
  margin: 30 0;
  padding: 10 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--red) !important;
  font-size: 25;
  font-weight: 700;
  text-align: center;
  background-color: var(--transparent-red);
  border-radius: 5px;
  border-bottom: 1px double var(--blue);
  border-top: 1px double var(--blue);
  box-shadow: 0 10px 10px var(--transparent-red),
    0 -10px 10px var(--transparent-red);
}

.gate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50;

  & h1 {
    font-size: 10vw;
    color: whitesmoke;
    font-weight: 700;
    filter: drop-shadow(0 0 100px var(--blue)) drop-shadow(0 0 100px var(--red));
    text-align: center;
  }

  & p {
    color: whitesmoke;
    overflow: hidden;
    font-weight: 600;
    font-size: small;
    text-align: center;
    filter: drop-shadow(0 10px 8px var(--blue))
      drop-shadow(0 10px 30px var(--green));
  }
}

.category-card {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 40px 1.5fr 80px 40px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--transparent-green);
  color: var(--green);
  border-radius: 15px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 10px 1px var(--green);
    background-color: var(--transparent-gr--green);
    color: var(--red);
  }
}

.category-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  aspect-ratio: 1 / 2;
  object-fit: contain;
}

.category-card h1 {
  font-size: larger;
  font-weight: 700;
  text-align: center;
}

.category-card h2 {
  font-size: small;
  text-align: center;
}

.post-card {
  padding: 10px !important;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 50px;
  width: 100%;
  aspect-ratio: 1.8 / 1;
  color: var(--blue);
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--transparent-blue);

  &:hover {
    /* border: 1.5px solid var(--red); */
    box-shadow: 0 0 10px 1px var(--blue);
    background-color: var(--transparent-blue);
    color: var(--red);
  }

  &:hover .text {
    border-radius: unset;
  }
}

.post-card .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: var(--transparent-blue);
  border-radius: 10px;
  padding: 5px !important;
}

.post-card .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 30px;
}

.post-card .icons div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-card h1 {
  color: var(--red);
  font-size: larger;
  font-weight: 700;
  text-align: center;
}

.post-card h2 {
  font-size: small;
  text-align: center;
  font-weight: 600;
}

.post-card p {
  font-size: small;
  text-align: center;
}
